<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<p>Уважаемый пользователь,<br>

    <p th:text="${text}">Text not provided</p>

    В случаи возникновения вопросов обращайтесь - info@onebit.io<br>

    С уважением OneBit.,<br>

</p>

<table border="0" cellspacing="0" cellpadding="0" width="816" style="width:8.5in;border-collapse:collapse">
    <tbody>
    <tr>
        <td width="816" colspan="6" valign="top"
            style="width:8.5in;border-top:none;border-left:solid #e7e6e6 1.0pt;border-bottom:none;border-right:solid #e7e6e6 1.0pt;background:#fae600;padding:0in 5.4pt 0in 5.4pt">
            <p class="MsoNormal"><span lang="RU"><u></u>&nbsp;<u></u></span></p>
        </td>
    </tr>
    <tr style="height:25.6pt">
        <td width="816" colspan="6"
            style="width:8.5in;border:solid #e7e6e6 1.0pt;border-top:none;background:#d0cece;padding:0in 5.4pt 0in 5.4pt;height:25.6pt">
            <p style="line-height:12.0pt"><strong><span lang="UK"
                                                        style="font-size:10.0pt;font-family:&quot;Calibri&quot;,sans-serif;color:#333333">Оставайтесь</span></strong><span
                    lang="UK" style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif;color:black">
</span><strong><span lang="UK" style="font-size:10.0pt;font-family:&quot;Calibri&quot;,sans-serif;color:#333333">с нами на связи.</span></strong><span
                    lang="UK" style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif"><u></u><u></u></span>
            </p>
        </td>
    </tr>
    <tr style="height:50.6pt">
        <td width="108" valign="top"
            style="width:81.0pt;border-top:none;border-left:solid #e7e6e6 1.0pt;border-bottom:solid #e7e6e6 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt;height:50.6pt">
            <p class="MsoNormal"><u></u><span style="margin-left:43px;margin-top:84px;width:67px;height:66px"><img
                    width="54" height="53" style="width:.5583in;height:.55in"
                    src="https://mail.google.com/mail/u/0?ui=2&amp;ik=d502d5fe87&amp;attid=0.3&amp;permmsgid=msg-f:1672092460208638480&amp;th=1734773bc2584a10&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ9O-ZtaxGie-vC43XJ9Kxuz6FRwzTGf5HITCc15EroXvMNYUugmipi2XD5oBpNqTLzULyUO8VfP8cKUq1j91v6-egvSukYmBRUfjkQTVpUN23J1pfn3Mhn9JcE&amp;disp=emb&amp;realattid=17347730e7a935e6e3"
                    data-image-whitelisted="" class="CToWUd"></span><u></u><span lang="RU"><u></u><u></u></span></p>
        </td>
        <td width="174"
            style="width:130.5pt;border:none;border-bottom:solid #e7e6e6 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:50.6pt">
            <p class="MsoNormal" style="line-height:115%"><b><span lang="RU"
                                                                   style="font-size:10.0pt;line-height:115%;font-family:&quot;Arial&quot;,sans-serif">Гаряча лінія<u></u><u></u></span></b>
            </p>
            <p class="MsoNormal"><span lang="RU" style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif">+38 066 888 8888<u></u><u></u></span>
            </p>
        </td>
        <td width="90"
            style="width:67.5pt;border:none;border-bottom:solid #e7e6e6 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:50.6pt">
            <p class="MsoNormal" align="center" style="text-align:center"><span lang="RU" style="font-size:10.0pt"><img
                    border="0" width="55" height="41" style="width:.575in;height:.425in"
                    id="m_-2144825181022806630m_7719728775068460078Picture_x0020_7"
                    src="https://mail.google.com/mail/u/0?ui=2&amp;ik=d502d5fe87&amp;attid=0.1&amp;permmsgid=msg-f:1672092460208638480&amp;th=1734773bc2584a10&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ89KHbEliPFRJ8Jy8cmF83q3GcKe-YYCt6zgSnAkbnkbgsj35cK0WJdg0i4ZnGybLXUBCcmVHFgoLu9K6aFKchdzykFe7dj6aosVi_HfOz_36FiDzs6G30MOIc&amp;disp=emb&amp;realattid=17347730e7a692e331"
                    alt="Картинки по запросу &quot;email icon png&quot;" data-image-whitelisted=""
                    class="CToWUd"></span><span lang="RU" style="font-size:10.0pt"><u></u><u></u></span></p>
        </td>
        <td width="204"
            style="width:153.0pt;border:none;border-bottom:solid #e7e6e6 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:50.6pt">
            <p class="MsoNormal" style="text-align:justify;line-height:115%"><span
                    style="font-size:10.0pt;line-height:115%;font-family:&quot;Arial&quot;,sans-serif"><a
                    href="mailto:one@bit.io" target="_blank">one@bit.io</a></span><span
                    style="font-size:10.0pt;line-height:115%;font-family:&quot;Arial&quot;,sans-serif">
<span lang="UK"><u></u><u></u></span></span></p>
        </td>
        <td width="78"
            style="width:58.5pt;border:none;border-bottom:solid #e7e6e6 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:50.6pt">
            <p class="MsoNormal" align="center" style="text-align:center"><span lang="RU" style="font-size:10.0pt"><img
                    border="0" width="52" height="52" style="width:.5416in;height:.5416in"
                    id="m_-2144825181022806630m_7719728775068460078Picture_x0020_3"
                    src="https://mail.google.com/mail/u/0?ui=2&amp;ik=d502d5fe87&amp;attid=0.2&amp;permmsgid=msg-f:1672092460208638480&amp;th=1734773bc2584a10&amp;view=fimg&amp;sz=s0-l75-ft&amp;attbid=ANGjdJ-d5J4okxy3R9i_u7Wr-0NKbLHhUYD56syUNHEvPqSNx8HIqbs2f-LSc7Vtfg-svXNGazSPg152Ufun3bwtchypQj_yi1xfJl2WX9na7cRL_o7t10k17pV9xrk&amp;disp=emb&amp;realattid=17347730e7a7745b42"
                    alt="Картинки по запросу &quot;facebook logo png&quot;" data-image-whitelisted=""
                    class="CToWUd"></span><span lang="RU" style="font-size:10.0pt"><u></u><u></u></span></p>
        </td>
        <td width="162"
            style="width:121.5pt;border-top:none;border-left:none;border-bottom:solid #e7e6e6 1.0pt;border-right:solid #e7e6e6 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:50.6pt">
            <p class="MsoNormal"><a href="https://www.facebook.com/" target="_blank"
                                    data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com&amp;source=gmail&amp;ust=1594801324926000&amp;usg=AFQjCNG6-s-IkKyEhrZOzGgI7HLuriMkBg"><span
                    style="font-size:10.0pt;font-family:&quot;Arial&quot;,sans-serif">EY People Advisory Services</span></a><span
                    lang="RU" style="font-size:10.0pt"><u></u><u></u></span></p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>